# Arquivos temporários do R
.Rhistory
.RData
.Ruserdata

# Arquivos do RStudio
.Rproj.user/
*.Rproj

# Arquivos de documentação gerados
doc/
Meta/

# Arquivos de compilação
src/*.o
src/*.so
src/*.dll

# Arquivos de pacote temporários
/*.tar.gz
/*.Rcheck/